:root {
  --primary: #2563eb;
  --primary-dark: #1e40af;

  --success: #10b981;
  --danger: #ef4444;
  --warning: #f59e0b;

  --background: #f4f6f9;
  --card: #ffffff;

  --text: #1f2937;
  --text-light: #6b7280;
}
