:root {
  --primary: #2563eb;
  --primary-dark: #1e40af;

  --success: #10b981;
  --danger: #ef4444;
  --warning: #f59e0b;

  --background: #f4f6f9;
  --card: #ffffff;

  --text: #1f2937;
  --text-light: #6b7280;
}

.marker-number {
  background: transparent !important;
  border: none !important;
}

.marker-number div {
  width: 30px !important;
  height: 30px !important;

  background: #2563eb !important;
  color: #ffffff !important;

  border-radius: 50% !important;
  border: 3px solid #ffffff !important;

  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

  font-size: 13px !important;
  font-weight: 900 !important;

  box-shadow:
    0 6px 14px rgba(37, 99, 235, 0.45),
    0 2px 8px rgba(0, 0, 0, 0.25) !important;
}

button.add-rota-btn {
  min-width: 180px !important;
  height: 48px !important;

  border: none !important;
  border-radius: 14px !important;

  padding: 0 22px !important;

  background: #4c84ee !important;
  color: #ffffff !important;

  font-size: 15px !important;
  font-weight: 800 !important;

  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 8px !important;

  cursor: pointer !important;

  box-shadow: 0 6px 14px rgba(76, 132, 238, 0.28) !important;
}

button.add-rota-btn:hover {
  background: #2563eb !important;
  transform: translateY(-1px);
}

button.add-rota-btn .material-icons {
  color: #ffffff !important;
  font-size: 22px !important;
}

button.primary-btn.add-rota-btn {
  min-width: 180px !important;
  height: 48px !important;
  border: none !important;
  border-radius: 14px !important;
  padding: 0 22px !important;

  background: #4c84ee !important;
  color: #ffffff !important;

  font-size: 15px !important;
  font-weight: 800 !important;

  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 8px !important;

  cursor: pointer !important;
  box-shadow: 0 6px 14px rgba(76, 132, 238, 0.28) !important;
}

button.primary-btn.add-rota-btn:hover {
  background: #2563eb !important;
  transform: translateY(-1px);
}

button.primary-btn.add-rota-btn .material-icons {
  color: #ffffff !important;
  font-size: 22px !important;
}
